body {
  	background-color: #f5f5f9;
  	font-family:  Arial;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	-webkit-tap-highlight-color: transparent;
}

body,
html,
input,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
button {
	padding: 0;
	margin: 0;
}

input {
	border: none;
	outline: none;
}

ul,
li {
	list-style: none;
}